/* reset and common codes starts here */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-weight: 400;
}

html {
    background-color: #fafafa;
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: "Roboto", serif;
}

body {
    background-color: #fff;
    width: 100rem;
    max-width: 100%;
    margin: auto;
    box-shadow: 0.1rem 0.1rem 0.1rem #c4c4c4, -0.1rem 0.1rem 0.1rem #c4c4c4;
}
.text-justify{
    text-align: justify;
}
.text-white{
    color: white;
}
.section-center{

}
.section-heading{

}
/* reset and common codes starts here */

/* header starts here */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: 5vh;
}

.logo-figure {
    border: 1px solid #fff;
}

.logo {
    font-size: 4rem;
}

nav ul {
    display: flex;
    /* justify-content: space-around;
    align-items: center; */
    gap: 2rem;
}
nav ul li{
    padding: 1rem;
    transition: all 0.4s;
}
nav ul li:hover{
    background-color: brown;
    border-radius: 0.6rem;
}
.nav__link{
    font-size: 1.8rem;
    color: #fff;
    cursor: pointer;
}
/* header ends here */

/* blog banner section starts*/
#blog-banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 1rem;
    min-height: 95vh;
}
.banner__heading{
    display: inline-block;
    background-color: black;
    padding: 1rem;
    color: #fff;
    margin-bottom: 1.5rem;
    font-size: 4rem;
}
.banner__description{
    font-size: 1.8rem;
}
.banner article{
    flex-basis: 50%;
    margin: 1rem;
}
.banner aside{
    flex-basis: 50%;
}
.banner__image{
    width: 55rem;
    height: 55rem;
    border: 0.3rem solid;
}

/* blog banner section ends*/

/* about me section starts here */
#blog-about{
    height: 100vh;
    background-color: #c4c4c4;
}
.cards{
    display: flex;
    /* justify-content: space-around; */
    gap: 1rem;
    align-items: center;
}
.card{
    /* margin: 2rem; */
    flex: 1;
    border-radius: 0.6rem;
    background-color: #a09d9d;
    padding: 3rem 1rem;
    margin: 2rem;
}
.card__header{

}
.card__description{
    
}
/* about me section ends here */





/* responsiveness starts here */
@media screen and (max-width: 992px){
    .banner{
        flex-direction: column;
    }
    .banner article{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    } 
}
@media screen and (max-width: 768px){
    html{
        font-size: 55.5%;
    }
    .banner article{
        width: 80%;
    }
}
@media screen and (max-width: 600px){
    html{
        font-size: 48.5%;
    }
    nav ul{
        flex-direction: column;
        padding-left: 2.5rem;
    }
    header{
        flex-direction: column;
    }
    .banner{
    min-height: auto;
    }
    .banner article{
        width: 90%;
    }
    .banner__image{
        width: 90%;
    }
}
/* responsiveness ends here */